.addbook {
    background-color: rgba(71, 70, 70, 0.189);
    padding: 5px;
}

.form {
    background-color: rgba(109, 109, 127, 0.54);
    padding: 20px 2px;
    margin: 0px 10%;
    border-radius: 8px;
    box-shadow: 10px 6px 12px 2px rgb(147, 142, 143);
}

.form input {
    width: 100%;
    height: 25px;
    margin: 10px 0;
}

.form textarea {
    width: 100%;
    margin: 10px 0;
}

@media screen and (min-width: 768px) {
    /* Adjust styles for screens wider than 768px */
    .form {
        margin: 0px 20%;
    }
}

@media screen and (min-width: 1200px) {
    /* Adjust styles for screens wider than 1200px */
    .form {
        margin: 0px 30%;
    }
}
